.preview{
    position: relative;
}
.preview__close {
    position: absolute;
    top: 0;
    margin: 5px;
    cursor: pointer;
    color: white;
}
.preview__ToolbarRight{
    color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.preview__ToolbarRight > .MuiSvgIcon-root {
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 20px !important;
}
.preview__footer{
    position: absolute;
    bottom: 0;
    right: -25px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    border-radius: 30px;
    padding: 7px;
    cursor: pointer;
    background-color: yellow;
}
.preview__footer > h2 {
    font-size: 8px;
    margin-right: 3px;
}
.preview__SendIcon{
    font-size: 10px !important;
}